.App{
  background-color: #fff;
  height: 100%;
  width: 100%;
  background: #000;
}
section p{
  color: #e2d5d5;
}
section h4{
  color: #ff9100;
}
section h3{
  color: #fff;
  font-weight: 500;
}
section h1{
  color: #ff7300;
}
section .btn{
  background: #ff7300;
}
#section .btn:hover{
  background: transparent;
  cursor: pointer;
}
section h6{
  color: #ff9100;
}
*{
  max-width: 100%;
}
